<h1>Formulaires Réactifs</h1>

<h2>Form Control</h2>

<p>
  <label for="book">Livre</label>
  <input id="book" [formControl]="book_title"/>
  <button [disabled]="book_title.invalid" (click)="saveBook()">Save</button>
</p>
<p class="error"
*ngIf="book_title.touched && book_title.invalid">
  Ce champs est invalide :
  <span *ngIf="book_title.hasError('required')">
    champs obligatoire
  </span>
  <span *ngIf="book_title.hasError('minlength') || book_title.hasError('maxlength')">
    entre 2 et 50 caractères
  </span>
</p>

<p *ngIf="favorite">Votre livre : <b>{{favorite}}</b></p>


<h2>Form Group</h2>


<form [formGroup]="game_form" (ngSubmit)="saveGame()">
  <p>
    <label for="title">Titre</label>
    <input id="title" formControlName="title">
    <small class="error" *ngIf="game_form.controls['title'].touched && game_form.controls['title'].invalid">
      Ce champs est obligatoire
    </small>
  </p>
  <p>
    <label for="studio">Studio</label>
    <input id="studio" formControlName="studio">
  </p>
  <p>
    <label for="description">Description</label>
    <input id="description" formControlName="description">
  </p>
  <p>
    <label for="year">Année</label>
    <input type="number" id="year" formControlName="year">
    <small class="error" *ngIf="getYearError()">
      {{getYearError()}}
    </small>
  </p>
  <p>
    <button [disabled]="game_form.invalid">Sauvegarder</button>
  </p>
</form>



<h2>Formulaires complexes</h2>

<form [formGroup]="formation_form" (ngSubmit)="saveFormation()">

  <p>
    <label for="name">Nom</label>
    <input id="name" formControlName="name">
    <small class="error" *ngIf="f_name.touched">
      <span *ngIf="f_name.hasError('required')">Titre obligatoire</span>
      <span *ngIf="f_name.hasError('invalidName')">Nom invalide !</span>
    </small>
  </p>
  <p>
    <label for="finished">Terminée ?</label>
    <input type="checkbox" id="finished" formControlName="finished" >
  </p>
  <p>
    <label>Compte Rendu</label>
    <input formControlName="cr">
    <small class="error" *ngIf="  formation_form.controls['cr'].invalid">
      Si la formation est terminée vous devez remplir le compte rendu !
    </small>
  </p>

  <fieldset formGroupName="trainer">
    <legend>Formateur / Formatrice</legend>

    <p>
      <label for="first">Prénom</label>
      <input id="first" formControlName="firstname">
    </p>
    <p>
      <label for="last">Nom</label>
      <input id="last" formControlName="lastname">
    </p>
  </fieldset>

  <fieldset formArrayName="topics">
    <legend>Sujets</legend>

    <p *ngFor="let t of topics">
      <label [for]="t.value">{{t.name}}</label>
      <input type="checkbox" [id]="t.value" [value]="t.value" name="topics" (change)="updateTopics($event)" >
    </p>

  </fieldset>

  <fieldset formArrayName="students">
    <legend>Etudiants et Etudiantes</legend>

    <div *ngFor="let s_control of students.controls; let i = index" [formGroupName]="i">
      <p>
        <label [for]="'s_first' + i">Prénom</label>
        <input [id]="'s_first' + i" formControlName="firstname">
      </p>
      <p>
        <label>Nom</label>
        <input formControlName="lastname">
      </p>
      <hr>
    </div>

    <button type="button" (click)="addStudent()">Ajouter un(e) etudiant(e)</button>

  </fieldset>


  <p>
    <button>Sauvegarder</button>
  </p>

</form>
