nav {
  display: flex;
  margin: 50px auto;
}

a:link, a:visited {
  text-align: center;
  color: var(--main);
  padding: 0 50px;
  border-right: solid 1px;
}

a:first-child {
  padding-left: 0;
}

a:last-child {
  border: none;
  padding-right: 0;
}
