:root {
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Montserrat Alternates', serif;
  --main: #489fb5;
  --main-darker: #16697a;
  --main-lighter: #82c0cc;
  --light: #ede7e3;
  --pop: #ffa62b;
}
