nav {
  background-color: var(--pop);
  height: 70px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

ul {
  list-style: none;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 80%;
  margin: auto;
}

li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link, a:visited, li {
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  font-family: var(--title-font);
}

a:hover {
 text-decoration: underline;
}
