<nav>

  <ul>
    <li>
      <a routerLink="/">Présentation</a>
    </li>
    <li>
      <a routerLink="/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/com">Communication</a>
    </li>
    <li>
      <a routerLink="/forms">Formulaires</a>
    </li>
    <li>
      <a routerLink="/dependances">Dépendances</a>
    </li>
    <li>
      <a routerLink="/observables">Observables</a>
    </li>
    <li>
      <span class="material-symbols-outlined">
        shopping_cart
        </span> {{panierService.panier.length}}
    </li>
  </ul>

</nav>
